body{
    margin:0;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
}
h1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.h:nth-child(1){
    animation-delay: 0;
}
.h:nth-child(2){
    animation-delay: 0.3s;
}
.h:nth-child(3){
    animation-delay: 0.6s;
}
.h:nth-child(4){
    animation-delay: 0.9s;
}
.h:nth-child(5){
    animation-delay: 1.2s;
}
.h:nth-child(6){
    animation-delay: 1.5s;
}
.h:nth-child(7){
    animation-delay: 1.8s;
}

.load>div{
    background-color:white;
    border:1px solid black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 125px;
    height: 125px;
    border-radius: 50%;    
    animation:3s circulo infinite reverse;
}
.load{
    background-image: linear-gradient(to bottom, white, purple);
    border:1px solid black;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content: center;
    align-items: center; 
    animation:3s circulo linear infinite;  
}
.h{
    animation:3s h1 linear infinite alternate;
}
@keyframes circulo{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes h1{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(2);
    }
    100%{
        transform: scaleY(3);
    } 
}